button:focus {
  outline: none;
}

label {
  margin-bottom: 0;
  transition: color 0.4s;
}

li.complete label {
  color: #949494;
  text-decoration: line-through;
}

#panel {
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 10px;
  width: 500px;
  background-color: #FEDFE1;
  border-radius: 15px;
}

#panel h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #E87A90;
}

.input-group input {
  padding: 6px 0 6px 10px;
  margin-left: 44px;
  width: 330px;
}

#todo-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#todo-list li {
  padding: 10px;
}

#todo-list li:hover {
  background-color: #F8C3CD;
  border-radius: 15px;
}

#todo-list input[type=checkbox] {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

#todo-list input[type=checkbox]:focus {
  outline: none;
}

#todo-list input[type=checkbox]:checked {
  background-color: #F596AA;
}

#todo-list input[type=checkbox]:checked:before {
  content: '';
  margin-left: 10px;
  margin-top: 4px;
  display: inline-block;
  width: 10px;
  height: 16px;
  border: solid white;
  border-width: 0px 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#todo-list li.complete .checkbox {
  background-color: #D05A6E;
}

#todo-list .content {
  font-family: 'Roboto Mono', monospace;
  color: #64363C;
  flex: 1;
}

#todo-list li.complete .content {
  text-decoration: line-through;
}

#todo-list .delete {
  color: #64363C;
}

#todo-list .actions>* {
  padding: 0 10px;
  cursor: pointer;
}

footer p {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 8px;
  text-align: center;
}